$sans: "Open Sans", FreightSans, "Source Sans Pro", Helvetica, Arial, sans-serif;
$serif: "Bitter", Times, serif;
$green: #B7C11E;
$lightBrown: #F2EFDC;
$vibRed: #A73C30;
$blueGreen: #23A38F;
$body: #2E313D;

body {
	font-family: $sans;
	color: $body;
	
}

a {
	color: $vibRed;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	padding: 10px 2.5% 0;
	background: white;
	border: none;
	border-bottom: 1px solid $lightBrown;
	.navbar-brand {
		background: url('../images/logo-plain.png') no-repeat;
		text-indent: -9999px;
		background-size: contain;
	}
}

#bg-img {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: -10;
}

#intro-slide {
	padding-top: 0;
	padding-bottom: 50px;
	border-bottom: 1px solid $lightBrown;
	background-image: -webkit-linear-gradient(bottom, #faf9f9 0%, #ffffff 30.6%);
	background-image: -moz-linear-gradient(bottom, #faf9f9 0%, #ffffff 30.6%);
	background-image: -ms-linear-gradient(bottom, #faf9f9 0%, #ffffff 30.6%);
	background-image: linear-gradient(to top, #faf9f9 0%, #ffffff 30.6%);
	.inner {
		padding-top: 30px;
	
}
	.intro-text {
		h2 {
			font-family: $serif;
			font-weight: bold;
			font-size: 42px;
			margin-bottom: 15px;
			line-height: 110%;
			color: $vibRed;
			margin-top: 60px;
			text-transform: uppercase;
		}
		p {
			font-size: 18px;
			font-family: $serif;
			line-height: 150%;
		}
	}
	

}

.breadcrumb {
	background: none;
	border-bottom: 1px solid $lightBrown;
	li {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
	}
}

#bg-img.parallaxed {
	z-index: -1;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px;
	background: white;
	z-index: 12;
	position: relative;
}

.row {
	margin-bottom: 50px;
}

.item {
	margin-bottom: 20px;
}



h3 {
	font-size: 24px;
	line-height: 32px;
	font-family: $serif;
	color: $vibRed;
	margin-bottom: 5px;
	margin-top: 0;
	
}

p {
	font-size: 16px;
	line-height: 26px;
	margin: 0px 0 10px;
	color: $body;
}

.meta-year {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: $sans;
	text-align: right;
	color: $body;
}

.full-bg {
	background: transparentize(darken($vibRed, 50%), 0.4);
	padding-bottom: 120px;
	padding-top: 200px;
	p {
		font-size: 24px;
			color: white;
			line-height: 36px;
	}
	h3 {
		font-size: 36px;
		color: white;
		line-height: 48px;
	}
	.meta-year {
		color: saturate($vibRed, 80%);
		line-height: 48px;
	}
}

.slide-mining {
	background: transparentize(darken($vibRed, 50%), 0.7);
	p a {
		color: white;
		font-weight: bold;
		border-bottom: 1px solid transparentize(white, 0.5);
	}
}

.section img {
	width: 100%;
	margin-bottom: 25px;
}

.section .image-grid img {
	width: auto;

}

.img-block {
	margin-bottom: 25px;
}

.last-slide {
	h3 {
		margin-bottom: 15px;
	}
}

.link-out {
	display: inline-block;
	border: 1px solid lighten($vibRed, 40%);
	padding: 0px 10px;
	border-radius: 5px;
	font-size: 13px;
	text-transform: uppercase;
	&:hover {
		color: darken($vibRed, 20%);
		text-decoration: none;
	}
}