@font-face {
  font-family: "goa-foundation";
  src: url("fonts/goa-foundation.eot");
  src: url("fonts/goa-foundation.eot?#iefix") format("embedded-opentype"), url("fonts/goa-foundation.woff") format("woff"), url("fonts/goa-foundation.ttf") format("truetype"), url("fonts/goa-foundation.svg#goa-foundation") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "goa-foundation" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "goa-foundation" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-fontawesome-webfont:before {
  content: "a"; }

.icon-fontawesome-webfont-1:before {
  content: "b"; }

.icon-fontawesome-webfont-3:before {
  content: "d"; }

.icon-fontawesome-webfont-4:before {
  content: "e"; }

.icon-basket:before {
  content: "g"; }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2e313d; }

a {
  color: #a73c30; }

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  padding: 10px 2.5% 0;
  background: white;
  border: none;
  border-bottom: 1px solid #f2efdc; }
  .navbar .navbar-brand {
    background: url("../images/logo-plain.png") no-repeat;
    text-indent: -9999px;
    background-size: contain; }

#bg-img {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: -10; }

#intro-slide {
  padding-top: 0;
  padding-bottom: 50px;
  border-bottom: 1px solid #f2efdc;
  background-image: -webkit-linear-gradient(bottom, #faf9f9 0%, white 30.6%);
  background-image: -moz-linear-gradient(bottom, #faf9f9 0%, white 30.6%);
  background-image: -ms-linear-gradient(bottom, #faf9f9 0%, white 30.6%);
  background-image: linear-gradient(to top, #faf9f9 0%, white 30.6%); }
  #intro-slide .inner {
    padding-top: 30px; }
  #intro-slide .intro-text h2 {
    font-family: "Bitter", Georgia, Times, serif;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 15px;
    line-height: 110%;
    color: #764100;
    margin-top: 60px;
    text-transform: uppercase; }
  #intro-slide .intro-text p {
    font-size: 18px;
    font-family: "Bitter", Georgia, Times, serif;
    line-height: 150%; }

.breadcrumb {
  background: none;
  border-bottom: 1px solid #f2efdc; }
  .breadcrumb li {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold; }

#bg-img.parallaxed {
  z-index: -1; }

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  background: white;
  z-index: 12;
  position: relative; }

.row {
  margin-bottom: 50px; }

.item {
  margin-bottom: 20px; }

h3 {
  font-size: 24px;
  line-height: 32px;
  font-family: "Bitter", Georgia, Times, serif;
  color: #a73c30;
  margin-bottom: 5px;
  margin-top: 0; }

p {
  font-size: 16px;
  line-height: 26px;
  margin: 0px 0 10px;
  color: #2e313d; }

.meta-year {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: right;
  color: #2e313d; }

.full-bg {
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 120px;
  padding-top: 200px;
  text-shadow: 0px 1px #000; }
  .full-bg p {
    font-size: 20px;
    font-family: "Bitter", Georgia, Times, serif;
    color: white;
    line-height: 32px; }
    .full-bg p a {
      color: white;
      font-weight: bold; }
  .full-bg h3 {
    font-size: 36px;
    color: white;
    line-height: 48px; }
  .full-bg .meta-year {
    color: #d71600;
    line-height: 48px; }

.slide-mining {
  background: rgba(0, 0, 0, 0.3); }

.section img {
  width: 100%;
  margin-bottom: 25px; }

.section .image-grid img {
  width: auto;
  max-width: 100%; }

.img-block {
  margin-bottom: 25px; }

.last-slide h3 {
  margin-bottom: 15px; }

.link-out {
  display: inline-block;
  padding: 0px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase; }
  .link-out:hover {
    color: #582019;
    text-decoration: none; }
