@import 'bootstrap';
@charset "UTF-8";

@font-face {
  font-family: "goa-foundation";
  src:url("fonts/goa-foundation.eot");
  src:url("fonts/goa-foundation.eot?#iefix") format("embedded-opentype"),
    url("fonts/goa-foundation.woff") format("woff"),
    url("fonts/goa-foundation.ttf") format("truetype"),
    url("fonts/goa-foundation.svg#goa-foundation") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "goa-foundation" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "goa-foundation" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fontawesome-webfont:before {
  content: "a";
}
.icon-fontawesome-webfont-1:before {
  content: "b";
}
.icon-fontawesome-webfont-3:before {
  content: "d";
}
.icon-fontawesome-webfont-4:before {
  content: "e";
}
.icon-basket:before {
  content: "g";
}



$sans: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sansCond: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
$thick: "Open Sans Condensed", "Source Sans Pro", Helvetica, sans-serif;
$serif: "Bitter", Georgia, Times, serif;

$bc: #eee;
$muteBlue:  #5c6468;
$green: #B7C11E;
$lightBrown: #F2EFDC;
$vibRed: #A73C30;
$brown: #764100;
$blueGreen: #23A38F;
$body: #2E313D;

body {
	font-family: $sans;
	color: $body;
	
}

a {
	color: $vibRed;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	padding: 10px 2.5% 0;
	background: white;
	border: none;
	border-bottom: 1px solid $lightBrown;
	.navbar-brand {
		background: url('../images/logo-plain.png') no-repeat;
		text-indent: -9999px;
		background-size: contain;
	}
}

#bg-img {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: -10;
}

#intro-slide {
	padding-top: 20px;
	padding-bottom: 0px;
	border-bottom: 1px solid $lightBrown;
	background-image: -webkit-linear-gradient(bottom, #faf9f9 0%, #ffffff 30.6%);
	background-image: -moz-linear-gradient(bottom, #faf9f9 0%, #ffffff 30.6%);
	background-image: -ms-linear-gradient(bottom, #faf9f9 0%, #ffffff 30.6%);
	background-image: linear-gradient(to top, #faf9f9 0%, #ffffff 30.6%);
	@media (max-width: $screen-sm-min) {
		padding-top: 0;
	}
	.inner {
		padding-top: 30px;
	}
	.intro-text {
		h2 {
			font-family: $serif;
			font-weight: bold;
			font-size: 42px;
			margin-bottom: 15px;
			line-height: 110%;
			color: $brown;
			margin-top: 10px;
			text-transform: uppercase;
			@media (max-width: $screen-md-min) {
				font-size: 32px;
			}
		}
		p {
			font-size: 14px;
			font-family: $serif;
			line-height: 150%;
			@media (min-width: $screen-md-min) {
				font-size: 16px;
			}
			@media (min-width: $screen-md-max) {
				font-size: 18px;
			}
		}
	}
	
	

}

@media (min-width: $screen-sm-max) {
	#logo-plain {
		height: 330px;
		img {
			position: absolute;
			bottom: 0;
			width: 90%;
			margin-bottom: 0;
		}
	}
	
}

.breadcrumb {
	background: none;
	border-bottom: 1px solid $lightBrown;
	li {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
	}
}

#bg-img.parallaxed {
	z-index: -1;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px;
	background: white;
	z-index: 12;
	position: relative;
}

.row {
	margin-bottom: 50px;
}

.item {
	margin-bottom: 20px;
}



h3 {
	font-size: 24px;
	line-height: 32px;
	font-family: $serif;
	color: $vibRed;
	margin-bottom: 5px;
	margin-top: 0;
	
}

p {
	font-size: 16px;
	line-height: 26px;
	margin: 0px 0 10px;
	color: $body;
}

.meta-year {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: $sans;
	text-align: right;
	color: $body;
}

.full-bg {
	background: transparentize(darken($vibRed, 50%), 0.4);
	padding-bottom: 120px;
	padding-top: 200px;
	text-shadow: 0px 1px #000;
	p {
		font-size: 20px;
		font-family: $serif;
		color: white;
		line-height: 32px;
		a {
			color: white;
			font-weight: bold;
		}
	}
	h3 {
		font-size: 36px;
		color: white;
		line-height: 48px;
	}
	.meta-year {
		color: saturate($vibRed, 80%);
		line-height: 48px;
	}
}

.slide-mining {
	background: transparentize(darken($vibRed, 50%), 0.7);
}

.section img {
	width: 100%;
	margin-bottom: 25px;
}

.section .image-grid img {
	width: auto;
	max-width: 100%;
}

.img-block {
	margin-bottom: 25px;
}

.last-slide {
	h3 {
		margin-bottom: 15px;
	}
}

.link-out {
	display: inline-block;
	padding: 0px 10px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	&:hover {
		color: darken($vibRed, 20%);
		text-decoration: none;
	}

}