body {
  font-family: "Open Sans", FreightSans, "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #2e313d; }

a {
  color: #764200; }

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  padding: 10px 2.5% 0;
  background: white;
  border: none;
  border-bottom: 1px solid #f2efdc; }
  .navbar .navbar-brand {
    background: url("../images/logo-plain.png") no-repeat;
    text-indent: -9999px;
    background-size: contain; }

#bg-img {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: -10; }

#intro-slide {
  padding-top: 0;
  padding-bottom: 50px;
  background: #fafafa;
  border-bottom: 1px solid #f2efdc; }
  #intro-slide .inner {
    padding-top: 30px; }
  #intro-slide .intro-text h2 {
    font-family: FreightText, Times, serif;
    font-size: 48px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    line-height: 110%;
    color: #764200;
    margin-top: 80px;
    font-style: italic;
    border-bottom: 1px solid #f2efdc; }
  #intro-slide .intro-text p {
    font-size: 20px;
    font-family: FreightText, Times, serif;
    line-height: 150%; }

.breadcrumb {
  background: none;
  border-bottom: 1px solid #f2efdc; }
  .breadcrumb li {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold; }

#bg-img.parallaxed {
  z-index: -1; }

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  background: white;
  z-index: 12;
  position: relative; }

.row {
  margin-bottom: 50px; }

.item {
  margin-bottom: 20px; }

h3 {
  font-size: 24px;
  font-family: FreightText, Times, serif;
  color: #a73c30;
  margin-bottom: 0;
  margin-top: 0; }

p {
  font-size: 18px;
  margin: 0px 0 10px;
  color: #2e313d; }

.meta-year {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans", FreightSans, "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: right;
  color: #2e313d; }

.full-bg {
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 120px;
  padding-top: 200px; }
  .full-bg p {
    font-size: 24px;
    color: white; }
  .full-bg h3 {
    font-size: 36px;
    color: white; }
  .full-bg .meta-year {
    color: #d71600; }

.slide-mining {
  background: rgba(0, 0, 0, 0.3); }
  .slide-mining p a {
    color: white;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.section img {
  width: 100%;
  margin-bottom: 25px; }

.section .image-grid img {
  width: auto; }

.img-block {
  margin-bottom: 25px; }

.last-slide h3 {
  margin-bottom: 15px; }
